.header {
  
  width: 60vw;
  height: 45vh;
  background-image: url(../../../Media//KidspassBannerIntro.svg);
  background-size: cover;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

