

.wrap{
  display: flex;
  margin-left: auto;
  margin-right: auto;
align-items: center;
justify-content: space-evenly;
background-image: url(../../Media/Cardbg.svg);
  width: 80vw;
  height: 65vh;
  border-radius: 60px;
  
}

.formWrap{
  width: 45vw;
  height: 45vh;
  
  display: flex;
  align-items: center;
}

.slideWrap{
  width: 30vw;
  height: 23vw;
  align-self: center;


}




.registerTitle {
  font-size: 3vw;
  transform: translateX(-47px);
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-family: 'Rampart One';
  color: white;
}



.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}
label{
  color: white;
}

.registerInput {
  padding: 10px;
  
  border: 1px solid black;
  border-radius: 10px;
}

.registerButton {
  align-self: center;
  width: 25%;
  margin-top: 20px;
  cursor: pointer;
  background-color: #e69a1e;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transform: translateY(25px);
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;

}
