.posts {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    column-gap: 111px;
    row-gap: 50px;
    background-image: url(../../Media/Cardbg.svg);
    background-size: cover;
    background-repeat: no-repeat;

    
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 60px;
}

/* Add breakpoint for small display on phones...swap to display flex, column  */