.posts {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

/* Add breakpoint for small display on phones...swap to display flex, column  */