.login {
height: 55vh;
width: 40vw;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-image: url(../../Media/Cardbg.svg);
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;

}

.loginTitle {
  font-size: 50px;
  transform: translateX(-55px);

  font-family: 'Rampart One';
  color: white;  
}

.loginForm {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 60px;
  height: 45vh;
  width: 35vw;

}




.loginForm > label {
  margin: 10px 0;
  color: white;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 65%;
  
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #e69a1e;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 25%;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: coral;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
