
.topList {
  list-style: none;

}

.barHolder{
  display: flex;
  justify-content: space-around;
width: 80%;

  align-self: center;

  
  color: white;
}

.logo{
  height: 85px ;
  width: 85px;
}

.navWrap{
display: flex;
width: 95vw;
background-color: #393939;
border-bottom-left-radius: 60px;
border-bottom-right-radius: 60px;
align-content: center;
justify-content: space-between;
}