/* .sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
*/
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../Media/sidebar.svg);
  background-size: cover;
  height: 55vh;
  width: 80vw;
  margin-bottom: 50px;

}




.sidebarItem > p {
  padding: 30px;
}

 .miniGrid{
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
 
} 

.sidebarList {
  list-style-type: none;
}

.sidebarTitle {
  font-size: 3.5vw;
}

